In [1]:
# Import pandas 
import pandas as pd 
  
# Read csv file  
vine_table_to_load = "vine_table.csv"
vine_table_df = pd.read_csv(vine_table_to_load)

# Print it out 
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [2]:
#filtering for total votes that are 20 and up
vine_table_df = vine_table_df[(vine_table_df.total_votes > 19)]
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [3]:
#confirming above code worked as intended
vine_table_df.sort_values(by=["total_votes"])

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y
1614879,R1Z4IS5FZ61M2B,1.0,20.0,20.0,N,N
1614157,RPHLE36KV6UVC,5.0,17.0,20.0,N,Y
1613369,R3H3C5S4V2BXHY,5.0,19.0,20.0,N,Y
1611871,R3LMXRDV68TVMK,1.0,15.0,20.0,N,N
...,...,...,...,...,...,...
2414632,R2LQGQJOIC6IHN,4.0,3257.0,3387.0,N,Y
2317716,R39YUFJKTH4NEF,1.0,3028.0,3662.0,N,N
2278021,RFA4C3GV4SB1J,1.0,3830.0,3975.0,N,N
2040076,R39DWT1KJ1OVSC,1.0,4085.0,4291.0,N,N
2411084,R3IK5S0V6BW0XX,4.0,5735.0,5811.0,N,Y

In [4]:
#filtering for data that have more than 50% helpful votes
vine_table_df = vine_table_df[(vine_table_df.helpful_votes / vine_table_df.total_votes > 0.5 )]
vine_table_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [5]:
#confirming the count of all reviews
len(vine_table_df.total_votes)

37960

In [6]:
#new dataframe for vine participates
vine_table_Y_df = vine_table_df[(vine_table_df.vine == "Y")]
vine_table_Y_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [7]:
#total number of reviews with vine program
len(vine_table_Y_df.total_votes)

170

In [8]:
#total number of 5 star reviews with vine program
five_star_Y_df = vine_table_Y_df[(vine_table_Y_df.star_rating == 5)]
len(five_star_Y_df)

65

In [9]:
#new dataframe for non-vine participates
vine_table_N_df = vine_table_df[(vine_table_df.vine == "N")]
vine_table_N_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [10]:
#total number of reviews without vine program
len(vine_table_N_df.total_votes)

37790

In [11]:
#total number of 5 star reviews without vine program
five_star_N_df = vine_table_N_df[(vine_table_N_df.star_rating == 5)]
len(five_star_N_df)

20605

In [12]:
#percentage of 5 star reviews based on vine and not vine
#vine 
vine_percentage = round(len(five_star_Y_df) / len(vine_table_Y_df.total_votes),2)
print(vine_percentage)

0.38

In [13]:
#not vine
not_vine_percentage = round(len(five_star_N_df)/len(vine_table_N_df.total_votes),2)
not_vine_percentage

0.55